#actions {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#roundButton { 
    width: 17%;
    height: 100%;
}

#middleCol {
    width: 43%;
    height: 100%;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#barButtons { 
    width: 100%;
    height: 40%;

    display: flex;
    padding-top: 4%;
}

#numberInput {
    width: 80%;
    height: 40%;
}

#barButtons > div {
    margin-left: 5%;
    margin-right: 5%;

    width: 40%;
}

#crossButton { 
    width: 33%;
    height: 100%;
}
