#actions {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#roundButton { 
    width: 17%;
    height: 100%;
}

#barButtons { 
    width: 43%;
    height: 100%;

    display: flex;
    padding-top: 4%;
}

#barButtons > div {
    margin-left: 5%;
    margin-right: 5%;

    width: 40%;
}

#crossButton { 
    width: 33%;
    height: 100%;
}
