.button {
    box-shadow: -3px 2px #5e0000;
    -webkit-box-shadow: -3px 2px #5e0000;
    -moz-box-shadow: -3px 2px #5e0000;
    -o-box-shadow: -3px 2px #5e0000;

    background: linear-gradient(to bottom, #c00d0d 0%, #8b0000 80%);
    background: -moz-linear-gradient(to bottom, #c00d0d 0%, #8b0000 80%);
    background: -o-linear-gradient(to bottom, #c00d0d 0%, #8b0000 80%);
    background: -webkit-linear-gradient(to bottom, #c00d0d 0%, #8b0000 80%);
}

.button:active {
    box-shadow: -2px 1px #5e0000;
    -webkit-box-shadow: -2px 1px #5e0000;
    -moz-box-shadow: -2px 1px #5e0000;
    -o-box-shadow: -2px 1px #5e0000;
    transform: translateY(2%);
}