#header {
    display: flex;
}

#redLed, #greenLed, #yellowLed {
    width: 11%;
}

#glass {
    width: 32%;
}

#redLed, #yellowLed, #greenLed, #glass {
    margin: 3%;
}

#glass {
    margin-right: 15%;
}